.button{
    border: 1px solid blue;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
    transition: all .3s;
}
.button:hover{
    background-color: white;
    color: black;
}

.primary {
    background-color: white;
}

.green {
    background-color: green;
}

.active {
    background-color: antiquewhite;
}

.icon {
    background-color: transparent;
    border: none;
    padding: 0;
}

.blue {
    background-color: blue;
    color: white;
}